NEXT_PUBLIC_AUTH_URL=http://localhost:4001
NEXT_PUBLIC_MATCHMAKING_URL=http://localhost:4002
NEXT_PUBLIC_ELO_URL=http://localhost:4003
NEXT_PUBLIC_MATCH_URL=http://localhost:4004
NEXT_PUBLIC_NOTIFICATION_URL=http://localhost:4009
